<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/popUps">Find a new pop-up</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/login"><span class="glyphicon glyphicon-login"></span> Login</a></li>
    </ul>
  </div>
</nav>
<h1>Oops, I gotta update my pop up...</h1>

<div class="row">
    <form action="/popUps" method="POST" class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="cuisine">Cuisine:</label>
            <input type="text" name="cuisine" class="form-control">
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" class="form-control">
        </div>
        <div class="form-group">
            <label for="hours">Hours:</label>
            <input type="text" name="hours" class="form-control">
        </div>
        <div class="form-group">
            <label for="photo">Photo:</label>
            <input type="text" name="photos" class="form-control">
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
<div>
    <a href="/popUps/{{popUps.id}}" class="btn btn-default">Back</a>
    <a href="/popUps" class="btn btn-default">Home Page</a>
</div>
