<h1 class="jumbotron">Let's go to a Pop Up!</h1>
<div>
  <div class="row">
  	{{#each popUps}}
      <div class="col-md-3 col-xs-12">
        <h2>
          <a class="btn btn-primary" href="/popUps/{{this.id}}">
            <h3>{{this.name}}</h3>
            <h4>{{this.cuisine}}</h4>
            <p>{{this.location}}</p>
          </a>
        </h2>
      </div>

    {{/each}}
  </div>
</div>
<!-- <style>
	}
	a:hover {
		color: white;

	}
</style> -->



