body {
		background-image: url('http://i.imgur.com/ZQ9vK6l.png');
}

.btn {
		background-color:	#80ffbf;
		color: black;
}
.jumbotron {
		text-align: center;
		opacity: .85;
}
form {
	background-color: black;
	color: white;
}