<h1>Already have an account? ... sign in</h1>
<form action="/sessions/login" method="post">
  <div>
    <label for="username">username</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>
  <input type="submit" value="Submit">
</form>
<div >
<a href="/popUps" class="btn btn-default">Back to Home Page</a>
</div>