<h2>Welcome back, {{user.firstname}}</h2>

<a href="/users" class="btn btn-default">Home Page</a>
<a href="/popUps/new" class="btn btn-default">Create a new pop up</a>
<a href="/users/{{user.id}}/edit" class="btn btn-danger">edit my profile</a>

<form method="post" action="/sessions/?_method=DELETE">
  <div>
    <!-- <input type="submit" class="btn btn-default" value="sign out"/> -->
  </div>
</form>
